mat-sidenav-content{
    background: #eeeeee;
}

.sidenav-container{

    /* top: 164px!important; */
}

/* @media screen and (min-width: 599px) and (max-width: 955px){
 .push-sidenav{
    display:none
 }
 .side-sidenav{
    display:block;
 }
} */

@media screen and (max-width: 599px){

    mat-sidenav{
        width: 180px;
    }
    .sidenav-container{
        /* top: 64px!important; */
    }
}
