<div class="body" fxLayout="column" fxLayoutAlign="space-between none">
      <div fxLayout="row">
            <mat-card fxFlex="100" style="padding:0" color="dark-primary">
                  <mat-grid-list cols="3" rowHeight="7em">
                        <a (click)="openPrimary()">
                              <mat-grid-tile class="grid-item">
                                    <table>
                                          <tr>
                                                <th class="statistics-icon-small" *ngIf="primaryAccount.length!==0">
                                                      <mat-icon class="small-icon" svgIcon="primaryacc"></mat-icon>
                                                </th>
                                                <th class="statistics-icon-small" *ngIf="primaryAccount.length==0">
                                                      <mat-icon class="small-icon" [ngClass]="{'no-account':savingsAccount.length==0}" svgIcon="addacc"></mat-icon>
                                                </th>
                                          </tr>
                                          <tr>
                                                <td rowspan="2" class="statistics-icon-section" style="width:50%" *ngIf="primaryAccount.length!==0">
                                                      <mat-icon class="statistics-icon" svgIcon="primaryacc"></mat-icon>
                                                </td>
                                                <td rowspan="2" class="statistics-icon-section" style="width:50%" *ngIf="primaryAccount.length==0">
                                                      <mat-icon class="statistics-icon" [ngClass]="{'no-account':savingsAccount.length==0}" svgIcon="addacc"></mat-icon>
                                                </td>
                                                <td valign="bottom" class="statistics-title">Primary Account</td>
                                          </tr>
                                          <tr>
                                                <td valign="top" class="statistics-detail" *ngIf="primaryAccount.length!==0">{{primaryAccount[0].balance}}</td>
                                                <td valign="top" class="statistics-detail" [ngClass]="{'no-account':savingsAccount.length==0}" *ngIf="primaryAccount.length==0">Open</td>
                                          </tr>
                                    </table>
                              </mat-grid-tile>
                        </a>
                        <a (click)="openSavings()">
                              <mat-grid-tile class="grid-item">
                                    <table>
                                          <tr>
                                                <th class="statistics-icon-small" *ngIf="savingsAccount.length!==0">
                                                      <mat-icon class="small-icon" svgIcon="savingsacc"></mat-icon>
                                                </th>
                                                <th class="statistics-icon-small" *ngIf="savingsAccount.length==0">
                                                      <mat-icon class="small-icon" [ngClass]="{'no-account':savingsAccount.length==0}" svgIcon="addacc"></mat-icon>
                                                </th>
                                          </tr>
                                          <tr>
                                                <td rowspan="2" class="statistics-icon-section" style="width:50%" *ngIf="savingsAccount.length!==0">
                                                      <mat-icon class="statistics-icon" svgIcon="savingsacc"></mat-icon>
                                                </td>
                                                <td rowspan="2" class="statistics-icon-section" style="width:50%" *ngIf="savingsAccount.length==0">
                                                      <mat-icon class="statistics-icon" [ngClass]="{'no-account':savingsAccount.length==0}" svgIcon="addacc"></mat-icon>
                                                </td>
                                                <td valign="bottom" class="statistics-title">Savings Account</td>
                                          </tr>
                                          <tr>
                                                <td valign="top" class="statistics-detail" *ngIf="savingsAccount.length!==0">{{savingsAccount[0].balance}}</td>
                                                <td valign="top" class="statistics-detail" [ngClass]="{'no-account':savingsAccount.length==0}" *ngIf="savingsAccount.length==0">Open</td>
                                          </tr>
                                    </table>
                              </mat-grid-tile>
                        </a>
                        <a (click)="openMoneyBoxes()">
                              <mat-grid-tile class="grid-item grid-item-last">
                                    <table>
                                          <tr>
                                                <th class="statistics-icon-small">
                                                      <mat-icon class="small-icon" svgIcon="moneybox"></mat-icon>
                                                </th>
                                          </tr>
                                          <tr>
                                                <td rowspan="2" class="statistics-icon-section" style="width:50%">
                                                      <mat-icon class="statistics-icon" svgIcon="moneybox"></mat-icon>
                                                </td>
                                                <td valign="bottom" class="statistics-title">Money boxes</td>
                                          </tr>
                                          <tr>
                                                <td valign="top" class="statistics-detail"> 127.33 PLN </td>
                                          </tr>
                                    </table>
                              </mat-grid-tile>
                        </a>
                  </mat-grid-list>
            </mat-card>
      </div>
      <div fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutAlign="space-between">
            <mat-card fxFlex="33" class="payments-card">
                  <mat-card-title>
                        Payments
                  </mat-card-title>
                  <div>
                        <mat-form-field appearance="outline" class="payments-type-selector">
                              <mat-label style="color:#000">Choose type of payment</mat-label>
                              <mat-select [(ngModel)]="paymentType">
                                    <mat-option value="transfer">Transfer between my accounts</mat-option>
                                    <mat-option value="domestic">Domestic transaction</mat-option>
                                    <mat-option value="external">External transaction</mat-option>
                              </mat-select>
                        </mat-form-field>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="end none">
                        <button fxFlex="100" mat-raised-button (click)="openTransactions(paymentType)" color="primary" [disabled]="!paymentType"
                              class="send-button">
                              Proceed
                        </button>
                  </div>
            </mat-card>
            <mat-card fxFlex="33" [ngClass]="{'disabled-card':savingsAccount.length==0 && primaryAccount.length==0}">
                  <mat-card-title>
                        Deposit
                  </mat-card-title>
                  <div fxLayout="row" fxLayout.sm="column" fxLayoutAlign="space-between">
                        <mat-form-field fxFlex="49" appearance="outline" color="primary">
                              <mat-label>Account type</mat-label>
                              <mat-select [(ngModel)]="accountTypeToDeposit" name="accountType">
                                    <mat-option value="primary_account" [disabled]="primaryAccount.length==0">
                                          Primary account
                                    </mat-option> 
                                    <mat-option value="savings_account" [disabled]="savingsAccount.length==0">
                                          Savings account
                                    </mat-option>
                              </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="49" appearance="outline" color="primary">
                              <mat-label>Amount</mat-label>
                              <input matInput [(ngModel)]="amountToDeposit" min="0" type="number" placeholder="400.23">
                              <mat-icon matSuffix>attach_money</mat-icon>
                        </mat-form-field>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="end none">
                        <button fxFlex="100" mat-raised-button (click)="depositMoney(accountTypeToDeposit,amountToDeposit)" color="primary" [disabled]="!amountToDeposit||!accountTypeToDeposit"
                              class="send-button">
                              Deposit
                        </button>
                  </div>
            </mat-card>
            <mat-card fxFlex="33" [ngClass]="{'disabled-card': (savingsAccount.length==0 || savingsAccount[0].balance=='0.00')&&(primaryAccount.length==0 || primaryAccount[0].balance=='0.00')}">
                  <mat-card-title>
                        Withdraw
                  </mat-card-title>
                  <div fxLayout="row" fxLayout.sm="column" fxLayoutAlign="space-between">
                        <mat-form-field fxFlex="49" appearance="outline" color="primary">
                              <mat-label>Account type</mat-label>
                              <mat-select [(ngModel)]="accountTypeToWithdraw" name="accountType">
                                    <mat-option value="primary_account" [disabled]="primaryAccount.length==0 || primaryAccount[0].balance=='0.00'">
                                          Primary account
                                    </mat-option>
                                    <mat-option value="savings_account" [disabled]="savingsAccount.length==0 || savingsAccount[0].balance=='0.00'">
                                          Savings account
                                    </mat-option>
                              </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="49" appearance="outline" color="primary">
                              <mat-label>Amount</mat-label>
                              <input matInput [(ngModel)]="amountToWithdraw" min="0" type="number" placeholder="120.50">
                              <mat-icon matSuffix>attach_money</mat-icon>
                        </mat-form-field>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="end none">
                        <button fxFlex="100" mat-raised-button (click)="withdrawMoney(accountTypeToWithdraw,amountToWithdraw)" color="primary" [disabled]="!amountToWithdraw||!accountTypeToWithdraw"
                              class="send-button">
                              Withdraw
                        </button>
                  </div>
            </mat-card>
      </div>
</div>