
mat-checkbox{
    display:block;
    margin:5px;
}

.body{
    height: 100%;
    margin:15px;
    padding: 0;
}

.filter-input{
    margin-left:10px;
    margin-right:10px;
}

.table-row{
    cursor: pointer;
    font-weight: bold;
}


.selected-row{
    background: #f5f5f5;
}

.highlight-new{
    background: rgba(102,187,106, 0.5)!important;
}

.add-btn{
    background: #66bb6a;
    color: #fff;
    margin-left: 10px;
}

.hide-btn{
    color: #fff;
    background: #6f6f6f;
    margin-left: 10px;
    margin-right: 10px;
}

.buttons{
    margin-bottom:25px;
    margin-top:10px;
}

.buttons-row{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color:#DFDFDF;
    /* border-top-style: solid;
    border-top-width: 1px;
    border-top-color:#DFDFDF; */
    padding-bottom:5px;
    padding-top:15px;
}

mat-cell{
    font-weight: bold;
    font-size: 12px;
}

.income-color{
    color: #43a047;
}

.outgoing-color{
    color:#c62828;
}

table {
    width: 100%;
  }
  
  tr.details-row {
    height: 0;
  }
  
  tr.table-row:not(.expanded-row):hover {
    background: #f5f5f5;
  }
  
  tr.table-row:not(.expanded-row):active {
    background: #f5f5f5;
  }
  
  .table-row td {
    border-bottom-width: 0;
  }
  
  .row-details {
    overflow: hidden;
    padding:5px;
  }


  :host ::ng-deep .mat-list .mat-list-item {
    height: 60px;
  }

  
    .no-data-container{
        background: rgba(220, 220, 220, 0.3);
        padding:20px;
    }

    .message{
        color: #6f6f6f;
    }
    .title-textarea{
        background: rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        min-height:80px;
        color: #404004;
        padding:8px;
    }

    .disabled-row{
        background-color:rgba(220, 220, 220, 0.3)!important;
        font-weight: 600;
    }

@media only screen and (max-width: 599px) {
    .hide-lg{
        display:none;
    }
    .add-btn{
        min-width:1%!important;
    }
    .hide-btn{
        min-width:1%!important;
    }
}