<h3 mat-dialog-title fxLayout="row">
  <div fxFlex fxLayoutAlign="start center" *ngIf="data.type=='domestic'">
    Domestic transaction
  </div>
  <div fxFlex fxLayoutAlign="start center" *ngIf="data.type=='external'">
    External transaction
  </div>
  <div fxFlex fxLayoutAlign="start center" *ngIf="data.type=='transfer'">
    Transfer between accounts
  </div>
  <div fxFlex="10" fxLayoutAlign="end center">
    <button mat-icon-button color="warn" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
</h3>
<div *ngIf="data.type!=='transfer'">
  <div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between">
      <mat-form-field fxFlex="30" appearance="outline">
        <mat-label>From</mat-label>
        <div *ngIf="data.type!=='external'">
          <mat-select [(ngModel)]="accountType" name="accountType">
            <mat-option value="primary_account" [disabled]="data.primary==true">
              Primary account
            </mat-option>
            <mat-option value="savings_account" [disabled]="data.savings==true">
              Savings account
            </mat-option>
          </mat-select>
        </div>
       <div  *ngIf="data.type=='external'">
        <input matInput value="Primary account" disabled>
       </div>
      </mat-form-field>
      <mat-form-field fxFlex="68" appearance="outline">
        <mat-label>Amount</mat-label>
        <input matInput [(ngModel)]="amount" placeholder="100.59" min="0" (keypress)="onlyNumbersPattern($event)" type="number" required/>
      </mat-form-field>
    </div>
    <div fxLayout="row" *ngIf="data.type=='external'">
      <mat-form-field fxFlex="100" appearance="outline">
        <mat-label>Beneficiary name</mat-label>
        <input matInput [(ngModel)]="receiverName" placeholder="Jan Kowalski" (keypress)="onlyLettersPattern($event)" style="text-transform: uppercase" type="text" required/>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">
        <button color="primary" fxFlex="10" style="margin:4px 0 9px 0" (click)="openRecipients()" mat-raised-button><i class="material-icons" style="font-size: 2em">
            assignment_ind
            </i></button>
      <mat-form-field fxFlex="73" appearance="outline">
        <mat-label>Account No.</mat-label>
        <input matInput [(ngModel)]="receiverAccountNo" style="text-transform: uppercase" minlength="32" placeholder="1234-5678-9123-4567-8912-3456-7891-2345"
          type="text" mask="AAAA-AAAA-AAAA-AAAA-AAAA-AAAA-AAAA-AAAA" required/>
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <textarea placeholder="Description" [(ngModel)]="description" class="description-area" rows="5"></textarea>
    </div>
  </div>

  <div mat-dialog-actions fxLayout="row" fxLayoutGap="15px">
    <div fxFlex fxLayoutAlign="end none">
      <button mat-raised-button *ngIf="data.type=='domestic'" [disabled]="!amount || !receiverAccountNo || receiverAccountNo.length!==32" color="primary" [mat-dialog-close]="[amount,description,receiverAccountNo,accountType]">Submit</button>
      <button mat-raised-button *ngIf="data.type=='external'" [disabled]="!amount || !receiverAccountNo || !receiverName || receiverAccountNo.length!==32" color="primary" [mat-dialog-close]="[amount,description,receiverAccountNo,accountType,receiverName]">Submit</button>
    </div>
  </div>
</div>

<div *ngIf="data.type=='transfer'" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <mat-form-field fxFlex="48" appearance="outline" color="primary">
      <mat-label>From</mat-label>
      <mat-select [(ngModel)]="transferSendAccount" name="accountType">
        <mat-option value="">
          --
        </mat-option>
        <mat-option value="primary_account" [disabled]="transferReceiveAccount=='primary_account' || data.primary==true">
          Primary account
        </mat-option>
        <mat-option value="savings_account" [disabled]="transferReceiveAccount=='savings_account' || data.savings==true">
          Savings account
        </mat-option>
      </mat-select>
    </mat-form-field>

      <mat-form-field fxFlex="48" appearance="outline" color="primary">
          <mat-label>To</mat-label>
          <mat-select [(ngModel)]="transferReceiveAccount" name="accountType">
            <mat-option value="">
              --
            </mat-option>
            <mat-option value="primary_account" [disabled]="transferSendAccount=='primary_account' || data.primary==true">
              Primary account
            </mat-option>
            <mat-option value="savings_account" [disabled]="transferSendAccount=='savings_account' || data.savings==true">
              Savings account
            </mat-option>
          </mat-select>
        </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between">
      <mat-form-field fxFlex="25" appearance="outline" color="primary">
          <mat-label>Amount</mat-label>
          <input matInput [(ngModel)]="amount" placeholder="100.59" type="number" min="0" (keypress)="onlyNumbersPattern($event)" mask="0*.00" required/>
        </mat-form-field>
        <mat-form-field fxFlex="71" appearance="outline" color="primary">
            <mat-label>Title</mat-label>
            <input matInput  placeholder="For next month" [(ngModel)]="description">
          </mat-form-field>
  </div>
  <div mat-dialog-actions fxLayout="row" fxLayoutGap="15px">
    <div fxFlex fxLayoutAlign="end none">
      <button mat-raised-button [disabled]="!transferSendAccount || !transferReceiveAccount || !amount" color="primary" [mat-dialog-close]="[amount,transferSendAccount,transferReceiveAccount,description]">Submit</button>
    </div>
  </div>
</div>