<h3 mat-dialog-title fxLayout="row">
  <div fxFlex fxLayoutAlign="start center" *ngIf="data.type=='domestic'">
    Proceed domestic transaction
  </div>
  <div fxFlex fxLayoutAlign="start center" *ngIf="data.type=='external'">
    Proceed external transaction
  </div>
  <div fxFlex fxLayoutAlign="start center" *ngIf="data.type=='transfer'">
    Transfer between accounts
  </div>
  <div fxFlex="10" fxLayoutAlign="end center">
    <button mat-icon-button color="warn" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
</h3>

<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <mat-form-field fxFlex="48" appearance="outline" color="primary">
      <mat-label>From</mat-label>
        <mat-select [(ngModel)]="accountType" name="accountType">
          <mat-option value="primary_account" [disabled]="data.primary_account==false">
            Primary account
          </mat-option>
          <mat-option value="savings_account" [disabled]="data.savings_account==false">
              Savings account
            </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="48" appearance="outline" color="primary">
        <mat-label>Amount</mat-label>
        <input matInput [(ngModel)]="amount" type="text"/>
        </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex="100" appearance="outline" color="primary">
      <mat-label>Account No.</mat-label>
      <input matInput [(ngModel)]="receiverAccountNo" style="text-transform: uppercase" type="text" mask="AAAA-AAAA-AAAA-AAAA-AAAA-AAAA-AAAA-AAAA"/>
      </mat-form-field>
  </div>
  <div fxLayout="row">
      <textarea placeholder="Description" [(ngModel)]="description" class="description-area" rows="5"></textarea>
  </div>
</div>

<div mat-dialog-actions fxLayout="row" fxLayoutGap="15px">
  <div fxFlex fxLayoutAlign="end none">
    <button mat-raised-button [disabled]="agreement==false" color="primary" [mat-dialog-close]="[amount,description,receiverAccountNo,accountType]">Submit</button>
  </div>
</div>