<mat-card style="margin:15px">
  <mat-card-title fxLayout="row" style="margin-bottom:15px;padding-bottom:15px;border-bottom:dashed 1px #aeaeae">
    <div fxFlex="10" fxLayoutAlign="start center">
      <button mat-raised-button color="primary" style="min-width:1%" (click)="goBack()">
        <mat-icon>keyboard_return</mat-icon>
      </button>
    </div>
    <div fxFlex fxLayoutAlign="start center" style="font-size:1em;text-transform:uppercase">
      {{userData.firstname}} {{userData.lastname}}
    </div>
    <div fxFlex fxLayoutAlign="end center" class="buttons">
        <button class="edit-btn" (click)="editUserProfile = true" mat-raised-button>
          <mat-icon>edit</mat-icon>
          <span class="hide-lg"> Edit</span>
        </button>
        <button color="warn" (click)="blockUser()" *ngIf="userData.blocked==false && userData.admin==false"
          class="block-btn" mat-raised-button>
          <mat-icon>block</mat-icon>
          <span class="hide-lg"> Block</span>
        </button>
        <button color="primary" (click)="unblockUser()" *ngIf="userData.blocked==true && userData.admin==false"
        class="block-btn" mat-raised-button>
        <mat-icon>play_circle_outline</mat-icon>
        <span class="hide-lg"> Unblock</span>
      </button>

      <button color="accent" (click)="activateUser()" *ngIf="userData.active==false"
      class="activate-btn" mat-raised-button>
      <mat-icon>check_circle_outline</mat-icon>
      <span class="hide-lg"> Activate</span>
    </button>
      </div>
  </mat-card-title>

  <div>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <mat-form-field fxFlex="48" appearance="outline">
        <mat-label>Firstname</mat-label>
        <input matInput name="firstname" [(ngModel)]="userData.firstname" [disabled]="!editUserProfile" required>
      </mat-form-field>
      <mat-form-field fxFlex="48" appearance="outline">
        <mat-label>Lastname</mat-label>
        <input matInput name="lastname" [(ngModel)]="userData.lastname" [disabled]="!editUserProfile" required>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field fxFlex="48" appearance="outline">
          <mat-label>Phone</mat-label>
          <input matInput name="phone" [(ngModel)]="userData.phone" [disabled]="!editUserProfile" required>
        </mat-form-field>
        <mat-form-field fxFlex="48" appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput name="email" [(ngModel)]="userData.email" [disabled]="!editUserProfile" required>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between">
          <mat-form-field fxFlex="100" appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput name="email" [(ngModel)]="userData.address" [disabled]="!editUserProfile" required>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between">
            <mat-form-field fxFlex="48" appearance="outline">
                <mat-label>birthdate</mat-label>
                <input matInput [matDatepicker]="picker" [min]="minBirthdate" [max]="currentDate" [disabled]="!editUserProfile" [value]="userData.birthdate"
                (dateInput)="getBirthdate($event)">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
              </mat-form-field>
            <mat-form-field fxFlex="48" appearance="outline">
              <mat-label>Registration date</mat-label>
              <input matInput name="email" value="{{userData.created_date | date:'dd.MM.yyyy HH:m'}}" disabled required>
            </mat-form-field>
          </div>
  </div>
</mat-card>

<mat-card style="margin:15px" *ngIf="editUserProfile==true">
  <div fxLayout="row" fxLayoutAlign="end none" fxLayoutGap="10px">
    <button mat-raised-button color="warn" (click)="editUserProfile = false">
      <mat-icon>close</mat-icon>
      <span> Cancel</span>
    </button>
    <button color="primary" mat-raised-button
    [disabled]="!userData.firstname || !userData.lastname || !userData.email || !userData.phone || !userData.address || !userData.birthdate"
    (click)="editUser()">
      <mat-icon>send</mat-icon>
      <span> Submit</span>
    </button>
  </div>
</mat-card>