<main>
    <mat-card class="center">
        <div class="error-message" *ngIf="error==true">
            {{errorMessage}}
        </div>
        <div *ngIf="loading==false">
            <mat-card-title style="text-align:center;padding-top:20px">Registration</mat-card-title>

            <form (ngSubmit)="Submit()" #registerForm="ngForm" fxLayout="column">
                <mat-form-field>
                    <input type="text" matInput placeholder="Email" [formControl]="email" [(ngModel)]="user.email" autocomplete="email" name="email" required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                  </mat-form-field>
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <mat-form-field fxFlex="48">
                        <input matInput type="text" placeholder="First name" [(ngModel)]="user.firstname" autocomplete="firstname" name="firstname"
                            required>
                    </mat-form-field>
                    <mat-form-field  fxFlex="48">
                        <input matInput type="text" placeholder="Last name" [(ngModel)]="user.lastname" autocomplete="lastname" name="lastname" required>
                    </mat-form-field>
                </div>
                <mat-form-field>
                    <input matInput type="text" placeholder="Address" [(ngModel)]="user.address" autocomplete="address" name="address" required>
                </mat-form-field>
                <mat-form-field>
                        <input matInput type="text" placeholder="Phone" [(ngModel)]="user.phone" autocomplete="phone" name="phone" required>
                    </mat-form-field>
          
                <mat-form-field>
                    <input matInput [min]="minBirthdate" [max]="currentDate" [matDatepicker]="picker" 
                    (dateInput)="getBirthdate($event)"
                    placeholder="Birthdate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker></mat-datepicker>
                  </mat-form-field>
                <div ngModelGroup="passGroup" #passGroup="ngModelGroup" password-matcher fxLayout="column">
                    <mat-form-field>
                        <input matInput type="password" [(ngModel)]="user.password" name="password" placeholder="Password" min="6" #password="ngModel"
                            required>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="password" name="confirm" placeholder="Confirm password" [(ngModel)]="user.confirmPassword" #confirmPassword="ngModel">
                    </mat-form-field>
                    <span *ngIf="(passGroup.invalid)&&(confirmPassword.touched)" fxLayoutAlign="start none" class="password-mismatch">passwords does not match</span>
                </div>
                <button mat-raised-button color="primary" [disabled]="!registerForm.form.valid" class="submit-btn" type="submit">Register</button>

            </form>
        </div>
        <div class="no-data-container" *ngIf="loading==true" fxLayoutAlign="center center">
            <mat-spinner [diameter]="50"></mat-spinner>
        </div>
        <mat-card-footer class="card-footer">
            Already have an account ?
            <br>
            Login <a routerLink='/login'>here</a>
        </mat-card-footer>
    </mat-card>
</main>

{{user | json}}