.center {
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    width:280px;
    text-align:center;
  }

.card-footer{
    margin:5px;
    text-align: center;
}
.submit-btn{
    margin-top:15px;
    margin-bottom:15px;
    font-weight: bold;
}
.showPass-icon{
    cursor: pointer;
}
.error-message{
    position:absolute;
    left:50%;
    top:0;
    transform: translate(-50%);
    text-align:center;
    width:100%!important;
    background: #8e18122d;
    border-radius: 1px;
    padding:3px 0 3px 0;
    color: #000000;
}

.no-data-container{
    min-height:250px;
}