<div class="body">
<mat-card>
    <div class="title-container">
            <mat-card-title class="component-title">
                404
            </mat-card-title>
          </div>
          <div class="message-container">
          <p><span>ERROR!</span>
            <br>
            PAGE NOT FOUND</p>
        </div>
            <mat-progress-bar class="progress-bar" mode="indeterminate"></mat-progress-bar>
            <div class="button-container">
              <a mat-stroked-button class="button" (click)="goBack()">Back</a>
              <a mat-stroked-button class="button" routerLink="/">Home</a>
            </div>
      </mat-card>
    </div>