<h3 mat-dialog-title fxLayout="row">
    <div fxFlex fxLayoutAlign="start center">
        Add custom payment
    </div>

    <div fxFlex="10" fxLayoutAlign="end center">
        <button mat-icon-button color="warn" mat-dialog-close><mat-icon>close</mat-icon></button>
    </div>
  </h3>

<div fxLayout="column">
  <mat-form-field appearance="outline">
    <mat-label>Amount</mat-label>
    <input matInput placeholder="5 USD" name="amount" type="number" [(ngModel)]="customPayment.amount">
  </mat-form-field>

  <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Grocery store" name="Description" rows="5" [(ngModel)]="customPayment.description">

      </textarea>
    </mat-form-field>
</div>


<div mat-dialog-actions fxLayout="row" class="dialog-actions">
    <div fxFlex fxLayoutAlign="end none">
      <button color="primary" type="submit" [mat-dialog-close]="customPayment"
        mat-raised-button>Submit</button>
    </div>
  </div>