.filter-input{
    width:100%!important;
}

.buttons{
    margin-bottom:20px;
}

.add-btn{
    background: #66bb6a;
    color: #fff;
    margin-left: 10px;
}

.view-profile-btn{
    background: #42a5f5;
    color: #fff;
}
.view-transacions-btn{
    background: #607d8b;
    color: #fff;
}
.block-btn{
    color: #fff;
    margin-left: 10px;
}

.table-row{
    cursor: pointer;
}

.blocked-user-row{
    cursor: pointer;
    background: rgba(220,0,0,0.4);
}

.blocked-user-row:hover {
    background: rgba(220,0,0,0.3);
}

.table-row:hover {
    background: rgba(220,220,220,0.5);
  }

.table-row-selected {
    cursor: pointer;
    font-weight: bold;
    background: #f5f5f5;
  }