<mat-toolbar>
    <mat-toolbar-row class="header-row">
        <div fxLayout="row">
            <a class="logo" routerLink="/" fxLayoutAlign="center center">
                <mat-icon class="logo-icon" fxLayoutAlign="center center">
                        monetization_on
                </mat-icon>
                BANK
            </a>
        </div>

        <div fxFlex fxLayoutAlign="end center">
            <ul fxLayout fxLayoutGap="10px" class="header-items">
                <li (click)="openProfile()">
                        <span fxLayoutAlign="none center">
                            <i class="material-icons  account-icon">
                                    account_circle
                            </i>
                            <strong>{{user.firstname}} {{user.lastname}} </strong>
                        </span>
                </li>
                <li (click)="refreshSession()">
                        <span fxLayoutAlign="none center">
                            session timeout:&nbsp;
                            <span>
                                <countdown [config]="{leftTime: 10*60}" (finished)="onSessionExpired()">$!m!:$!s!</countdown>
                            </span>
                            <i class="material-icons refresh-icon">cached</i>
                        </span>
                </li>
                <li routerLink="/login">log out
                </li>
            </ul>
        </div>

    </mat-toolbar-row>
    <mat-toolbar-row class="navbar">
        <div fxFlex="5" fxHide fxShow.lt-md>
            <button mat-icon-button (click)="onToggleSidenav()">
                <mat-icon class="icons-style">menu</mat-icon>
            </button>
        </div>

        <div fxFlex="10" fxHide fxShow.lt-sm>
                <a style="color:#fff;margin-left:20px" routerLink="/">
                    <!-- <mat-icon class="logo-icon" svgIcon="logo"> </mat-icon>-->
                    uBANK
                </a>
            </div>

        <div fxFlex fxLayout fxLayoutAlign="start center" fxHide fxShow.gt-sm>
            <ul fxLayout fxLayoutGap="30px" class="navigation-items container pullRightLeft">
                <li routerLink="/">
                    <a class="navbar-item" >Home</a>
                </li>
                <li routerLink="/payments-history" [routerLinkActive]="['active']">
                    <a class="navbar-item">Payments history manager</a>
                </li>
                <li routerLink="/recipients-manager" [routerLinkActive]="['active']">
                    <a class="navbar-item">Recipients manager</a>
                </li>
                <li routerLink="/statistics" [routerLinkActive]="['active']">
                    <a class="navbar-item">Statistics</a>
                </li>
            </ul>
        </div>

        <div fxFlex fxLayout fxLayoutAlign="end center" fxHide fxShow.lt-sm>
                <small fxFlex fxLayoutAlign="end center" style="color: #fff;cursor: pointer;" (click)="smallTimer.restart()">
                    <countdown #smallTimer [config]="{leftTime: 10*60}" (finished)="onSessionExpired()">$!m!:$!s!</countdown>
                    <i style="color: #fff" class="material-icons refresh-icon">cached</i>
                </small>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon class="icons-style">more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openProfile()">
                      <mat-icon>account_circle</mat-icon>
                      <span>{{user.firstname}} {{user.lastname}}</span>
                    </button>
                    <button mat-menu-item routerLink="/login">
                      <mat-icon>exit_to_app</mat-icon>
                      <span>Log out</span>
                    </button>
                  </mat-menu>
        </div>
    </mat-toolbar-row>
</mat-toolbar>