<mat-toolbar>
    <mat-toolbar-row class="header-row">
        <div>
            <a class="logo" routerLink="/">
            <!-- <mat-icon class="logo-icon" svgIcon="logo"> </mat-icon>-->
                uBANK
            </a>
        </div>

        <div fxFlex fxLayoutAlign="end center">
            <ul fxLayout fxLayoutGap="10px" class="header-items">
                <li class="user-data">
                    <a routerLink="/profile">
                        <span fxLayoutAlign="none center">
                            <i class="material-icons  account-icon">
                                person_pin
                            </i>
                            <strong>{{user.firstname}} {{user.lastname}} </strong>
                            <span *ngIf="user.admin">&nbsp;(Admin)</span>
                        </span>
                    </a>
                </li>
                <li class="session-timer" (click)="refreshSession()">
                    <a>
                        <span fxLayoutAlign="none center">
                            session timeout:&nbsp;
                            <span>
                                    <countdown [config]="{leftTime: 10*60}"  (finished)="onSessionExpired()">$!m!:$!s!</countdown>
                            </span>
                            <i class="material-icons refresh-icon">cached</i>
                        </span>
                    </a>
                </li>
                <li class="log-out-link">
                    <a routerLink="/login">log out</a>
                </li>
            </ul>
        </div>

    </mat-toolbar-row>
    <mat-toolbar-row class="navbar">
        <div fxFlex="5">
            <button mat-icon-button (click)="onToggleSidenav()">
                <mat-icon class="icons-style" >menu</mat-icon>
            </button>
        </div>
        <div fxFlex fxLayout fxLayoutAlign="start center" fxHide fxShow.gt-sm>
            <ul fxLayout fxLayoutGap="30px" class="navigation-items">
                <li>
                    <a class="navbar-item" routerLink="/">Home</a>
                </li>
                <li>
                    <a class="navbar-item" routerLink="/profile">Accounts</a>
                </li>
                <li>
                    <a class="navbar-item" routerLink="/transactions-history">Transactions history</a>
                </li>
                <li>
                    <a class="navbar-item" routerLink="/profile">Analytics</a>
                </li>
            </ul>
        </div>

        <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide fxShow.lt-md>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon class="icons-style">more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/profile">Account</button>
                <button mat-menu-item routerLink="/profile">Payments</button>
                <button mat-menu-item routerLink="/profile">Analytics</button>
                <button mat-menu-item routerLink="/login">Log out</button>
            </mat-menu>
        </div>
    </mat-toolbar-row>
</mat-toolbar>