<mat-toolbar>
    <mat-toolbar-row class="header-row">
        <div>
            <a class="logo" routerLink="/">
                <!-- <mat-icon class="logo-icon" svgIcon="logo"> </mat-icon>-->
                uBANK
            </a>
        </div>

        <div fxFlex fxLayoutAlign="end center">
            <ul fxLayout fxLayoutGap="10px" class="header-items">
                <li class="user-data">
                    <a (click)="openProfile()">
                        <span fxLayoutAlign="none center">
                            <i class="material-icons  account-icon">
                                    account_circle
                            </i>
                            <strong>{{user.firstname}} {{user.lastname}} </strong>
                        </span>
                    </a>
                </li>
                <li class="session-timer" (click)="refreshSession()">
                    <a>
                        <span fxLayoutAlign="none center">
                            session timeout:&nbsp;
                            <span>
                                <countdown [config]="{leftTime: 10*60}" (finished)="onSessionExpired()">$!m!:$!s!</countdown>
                            </span>
                            <i class="material-icons refresh-icon">cached</i>
                        </span>
                    </a>
                </li>
                <li class="log-out-link">
                    <a routerLink="/login">log out</a>
                </li>
            </ul>
        </div>

    </mat-toolbar-row>
    <mat-toolbar-row class="navbar">
        <div fxFlex="5" fxHide fxShow.lt-md>
            <button mat-icon-button (click)="onToggleSidenav()">
                <mat-icon class="icons-style">menu</mat-icon>
            </button>
        </div>

        <div fxFlex="10" fxHide fxShow.lt-sm>
                <a style="color:#fff;margin-left:20px" routerLink="/">
                    <!-- <mat-icon class="logo-icon" svgIcon="logo"> </mat-icon>-->
                    uBANK
                </a>
            </div>

        <div fxFlex fxLayout fxLayoutAlign="start center" fxHide fxShow.gt-sm>
            <ul fxLayout fxLayoutGap="30px" class="navigation-items">
                <li>
                    <a class="navbar-item" routerLink="/">Home</a>
                </li>
                <li>
                    <a class="navbar-item" routerLink="/payments-history">Payments history manager</a>
                </li>

                <li>
                    <a class="navbar-item" routerLink="/stats">Statistics</a>
                </li>
                <li>
                    <a class="navbar-item" routerLink="/recipients-manager">Recipients manager</a>
                </li>
            </ul>
        </div>

        <div fxFlex fxLayout fxLayoutAlign="end center" fxHide fxShow.lt-sm>
                <small fxFlex fxLayoutAlign="end center" style="color: #fff;cursor: pointer;" (click)="smallTimer.restart()">
                    <countdown #smallTimer [config]="{leftTime: 10*60}" (finished)="onSessionExpired()">$!m!:$!s!</countdown>
                    <i style="color: #fff" class="material-icons refresh-icon">cached</i>
                </small>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon class="icons-style">more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openProfile()">
                      <mat-icon>account_circle</mat-icon>
                      <span>{{user.firstname}} {{user.lastname}}</span>
                    </button>
                    <button mat-menu-item routerLink="/login">
                      <mat-icon>exit_to_app</mat-icon>
                      <span>Log out</span>
                    </button>
                  </mat-menu>
        </div>
    </mat-toolbar-row>
</mat-toolbar>