.filter-input{
    margin-left:10px;
    margin-right:10px;

}

.download-btn{
    margin-left: 10px;
    margin-bottom:20px;
    background: #42a5f5;
    color: #fff;
}

.table-row{
    cursor: pointer;
}

.table-row:hover {
    background: #f5f5f5;
  }

.table-row-selected {
    cursor: pointer;
    font-weight: bold;
    background: #f5f5f5;
  }