<mat-card style="margin:15px">
    <div fxLayout="row" class="buttons-row">
        <div fxFlex="80" fxLayoutAlign="none center">
          <mat-form-field appearance="outline" style="width:100%">
            <mat-label>Search for transaction</mat-label>
            <input matInput (keyup)="applyFilter($event.target.value)">
          </mat-form-field>
        </div>
        <div fxFlex fxLayoutAlign="end center" class="buttons">
            <button [disabled]="!selection.isSelected(selectedRow)" (click)="downloadPdf(selectedRow)" class="download-btn"
            mat-raised-button>
            <mat-icon>vertical_align_bottom</mat-icon>
            <span class="hide-lg"> Download *.pdf</span>
          </button>
        </div>
      </div>
  
    <table mat-table [dataSource]="dataSource" style="width:100%;border-top:solid 1px #ddd;" matSort>
  
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
  
        </th>
        <td mat-cell *matCellDef="let row" class="select-column">
          <mat-checkbox color="primary" disabled [checked]="selectedRow == row && selection.isSelected(row)" style="cursor: pointer"
            (click)="selectedRow = row" (click)="selection.toggle(row)">
          </mat-checkbox>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="created_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DATE </th>
        <td mat-cell *matCellDef="let row"> {{row.created_date | date:'dd.MM.yyyy HH:mm'}} </td>
      </ng-container>
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> TYPE </th>
        <td mat-cell *matCellDef="let row">
            <span *ngIf="row.type=='external_transaction'">
                EXTERNAL TRANSACTION
              </span>
              <span *ngIf="row.type=='domestic_transaction'">
                DOMESTIC TRANSACTION
              </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> AMOUNT </th>
          <td mat-cell *matCellDef="let row">
              {{row.amount}}
          </td>
        </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="[selectedRow == row && selection.isSelected(row) ? 'table-row-selected':'table-row']"
        (click)="selectedRow = row" (click)="selection.toggle(row)">
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[15, 25, 50]"></mat-paginator>
  </mat-card>